@charset "UTF-8";

body{
	background: #ddd;
	margin: 150px auto;
	text-align: center;
}

.form{
	border-radius: 25px;
	background: #abd;
	margin: auto;
	padding: 25px;
}

#searchbar{
	width: 200px;
	height: 18px;
	border: none;
	border-radius: 25px;
}

#textarea{
	color: #222;
}

#mainbutton{
	width: 100px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}